#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    padding: 4px;
    width: 300px;
    max-width: 100%;
    background: black;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgb(255, 255, 255);
    aspect-ratio: 1 / 1;
}

#game-message {
    min-height: 1.5em;
    font-weight: bold;
}
